 <!DOCTYPE html>
 <html lang="en">
 <head>
 	<meta charset="UTF-8">
 	<title>amazing section</title>

 	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

 	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

 	>


 </head>
 <body><br>
 <br>
 <br>
 <br>
 <br>
 <br>


			<h3 class="color-3 social-link-text">
				<button class="btn btn-danger">Hire Me</button>
			</h3>

			<ul class="about-link">
				<li><a href=""><i class="fa fa-fonticons"></i></a></li>

				<li><a href=""><i class="fa fa-envira"></i></a></li>


				<li><a href=""><i class="fa fa-reddit-alien"></i></a></li>


				<li><a href=""><i class="fa fa-dribbble"></i></a></li>


				<li><a href=""><i class="fa fa-youtube-play"></i></a></li>

			</ul>


		</div>

		</div>
	</div>

 	</section>

 </body>
 </html>