<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us </title>
</head>
<body>
<section id= "about">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="about-img">

        </div>
      </div>
    </div>
  </div>
</section>
  <div>
      <p>Students who, are keen on number crunching, data analytics are on cloud nine with the Central Board of Secondary Education's (CBSE) latest announcement. Last month, the Board declared it will introduce Artificial Intelligence (AI) as an optional sixth subject for Class IX. There will also be an AI 'inspire module'…</p>
  </div>


</body>
</html>