<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <h1>Contact Intellipaat for your training needs</h1>
  <div>
      <h2>SEND US YOUR TRAINING REQUIREMENT</h2>
      <div>
          <input type="text" name="fname" placeholder="First Name">
           <input type="text" name="lname" placeholder="Last Name">
           <input type="text" name="email" placeholder="Email">
           <input type="text" name="mobileno" placeholder="Mobile Number">

            <input type="submit" value="Submit">
      </div>

  </div>
</body>
</html>